.box {
  position: relative;
  top: 24vh;
  right: 12vh;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.images {
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position-x: -50vh;
  background-position-y: -25vh;
}

.desktop {
  position: relative;
  top: -6.25rem;
  right: 5rem;
}